<!--动态toolbar-->
<div class="secondary-navigation">
  <ul class="wat-cf">
    <%if params[:action] == "show" or params[:action] == "edit"%>
      <li>
        <%= link_to image_tag("arrow-turn-180-left.png",:alt => "返回"),  :back,:title => "返回",:class => "tipsy" %>
      </li>
    <%end%>
    <%if can? :read_transit_org,resource_class%>
      <li class="first">
        <%= link_to image_tag("grid.png",:alt => "#{resource_class.model_name.human}列表") , collection_path("search[state_eq]" => "refunded"),:title => "#{resource_class.model_name.human}列表",:class => "tipsy"  %>
      </li>
      <%if self.respond_to?("search_#{controller_name.tableize}_path")%>
        <li><%= link_to image_tag("application-search-result.png",:alt => "查询#{resource_class.model_name.human}"),self.send("search_#{controller_name.tableize}_path"),:title => "查询#{resource_class.model_name.human}",:class => "fancybox tipsy" %></li>
      <%end%>

    <%end%>

    <%if params[:action] == "show" or params[:action] =='process_handle'%>
      <li>
        <%= link_to image_tag("table-sum.png",:alt => "按发货地分组核算") ,
          resource_path(resource,:show_group => 1),
          :title => "按发货地分组核算",
          :class => "tipsy"  %>
      </li>
      <%if can? :confirm_transit_org,resource %>
        <li>
          <%= link_to image_tag("auction-hammer--arrow.png",:alt => "收款确认") ,
            process_handle_transit_org_inner_transit_refund_path(resource),
            :title => "收款确认",
            :class => "tipsy btn_process_handle"  %>
        </li>
      <%end%>
      <!--生成凭证-->
      <%if can? :build_accounting_document_from_th,CarryingBill %>
        <li>
          <%= link_to image_tag("money--arrow.png",:alt => "生成凭证"),
            build_accounting_document_from_th_carrying_bills_path(:search => {:refound_id_eq => resource.id }),
            :title => "凭证生成",
            :class => "tipsy"  %>
        </li>
      <%end%>

      <li>
        <%= link_to image_tag("document-excel-table.png",:alt => "导出为EXCEL"),
          params[:show_group].present? ? export_excel_transit_org_inner_transit_refund_path(resource,:show_group => 1) : export_excel_transit_org_inner_transit_refund_path(resource),:title => "导出为EXCEL",:class => "tipsy"  %>
      </li>
    <%end%>
  </ul>
</div>
