<%sum_info = search_sum%>
<table  style='border-collapse : collapse;border : thin solid #000;' class="table">
  <thead>
    <tr>
      <th class="first" width="30">序号</th>
      <th class='bill_date'>票据日期</th>
      <th class='bill_no' width="64">票号</th>
      <th class='goods_no' width="120">货号</th>
      <th class='from_org'>发货地</th>
      <th class='to_org'>到货地</th>
      <th class='from_customer' width="55">发货人</th>
      <th class='from_customer_mobile hide' width="55">发货人电话</th>
      <th class='to_customer' width="55">收货人</th>
      <th class='to_customer_mobile hide' width="55">收货人电话</th>
      <th class='pay_type' width="50">付款方式</th>

      <!--运费-->
      <th class="carrying_fee">运费</th>
      <th class="carrying_fee_th hide">运费[提]</th>
      <th class="k_carrying_fee hide">运费[扣]</th>

      <!--发货短途-->
      <th class="from_short_carrying_fee hide">发货短途</th>
      <th class="from_short_carrying_fee_th hide">发货短途[提]</th>
      <th class="k_from_short_carrying_fee hide">发货短途[扣]</th>

      <!--到货短途-->
      <th class="to_short_carrying_fee hide">到货短途</th>
      <th class="to_short_carrying_fee_th hide">到货短途[提]</th>
      <th class="k_to_short_carrying_fee hide">到货短途[扣]</th>

      <th class="carrying_fee_1st hide">前段运费</th>
      <th class="carrying_fee_2st hide">后段运费</th>


      <!--运费合计-->
      <th class="carrying_fee_total hide">运费合计</th>
      <th class="carrying_fee_th_total hide">运费合计[提]</th>
      <th class="k_carrying_fee_total hide">运费合计[扣]</th>
      <th class="adjust_carrying_fee_plus hide">增加运费</th>
      <th class="adjust_carrying_fee_minus hide">减少运费</th>


      <th class="goods_fee">代收货款</th>

      <!--保险费-->
      <th class="insured_fee hide">保险费</th>
      <th class="insured_fee_th hide">保险费[提]</th>
      <th class="k_insured_fee hide">保险费[扣]</th>

      <!--管理费-->
      <th class="manage_fee hide">管理费</th>
      <th class="manage_fee_th hide">管理费[提]</th>
      <th class="k_manage_fee hide">管理费[扣]</th>

      <!--中转相关费用-->
      <th class="transit_carrying_fee hide">中转运费</th>
      <th class="transit_hand_fee hide">中转手续费</th>
      <th class="agent_carrying_fee hide">代收运费</th>


      <!--提货应收-->
      <th class="th_amount hide">提货应收</th>

      <!--扣手续费-->
      <th class="k_hand_fee hide">手续费[扣]</th>
      <!--实提货款-->
      <th class="act_pay_fee hide">实提货款</th>

      <!--其他-->
      <th class='print_counter hide'>打印次数</th>
      <th class='note' width="40">备注</th>

      <!--吨/方合计-->
      <th class='goods_weight hide'>重量</th>
      <th class='goods_volume hide'>体积</th>

      <th class='state'>状态</th>
      <th class='from_short_fee_state hide'>短途运费状态</th>
      <th class='to_short_fee_state hide'>短途运费状态</th>
      <th class='stranded_days hide'>滞留天数</th>
      <th class='deliver_date hide'>提货日期</th>
      <th class='pay_date hide'>提款日期</th>
    </tr>
  </thead>
  <tbody>
  <% @search.all(:include => [:from_org,:to_org,:transit_org,:user]).each_with_index do |bill,index| %>
    <tr>
    <td><%= index + 1 %></td>
    <td class='bill_date'><%=bill.bill_date.strftime('%y-%m-%d')%></td>
    <td class='bill_no'>&nbsp;<%=bill.bill_no%></td>
    <td class='goods_no'><%=bill.goods_no%></td>
    <td class='from_org'><%=bill.from_org_name%></td>
    <td class='to_org'><%=["TransitBill","HandTransitBill"].include?(bill.type) ? "#{bill.area}" : bill.to_org_name%></td>
    <td class='from_customer'><%=bill.from_customer_name%></td>
    <td class='from_customer_mobile hide'><%=bill.from_customer_mobile%></td>
    <td class='to_customer'><%=bill.to_customer_name%></td>
    <td class='to_customer_mobile hide'><%=bill.to_customer_mobile%></td>
    <td class='pay_type'><%=pay_type_des(bill.pay_type) %></td>

    <!--运费-->
    <td class="carrying_fee">
      <%=bill.carrying_fee %>
    </td>
    <td class="carrying_fee_th hide">
      <%=bill.carrying_fee_th %>
    </td>
    <td class="k_carrying_fee hide">
      <%=bill.k_carrying_fee %>
    </td>
    <td class="from_short_carrying_fee hide">
      <%=bill.from_short_carrying_fee %>
    </td>
    <td class="from_short_carrying_fee_th hide">
      <%=bill.from_short_carrying_fee_th %>
    </td>
    <td class="k_from_short_carrying_fee hide">
      <%=bill.k_from_short_carrying_fee %>
    </td>
    <td class="to_short_carrying_fee hide">
      <%=bill.to_short_carrying_fee %>
    </td>
    <td class="to_short_carrying_fee_th hide">
      <%=bill.to_short_carrying_fee_th %>
    </td>
    <td class="k_to_short_carrying_fee hide">
      <%=bill.k_to_short_carrying_fee %>
    </td>
    <!--前段运费及后段运费-->
    <td class="carrying_fee_1st hide"><%= bill.carrying_fee_1st %></td>
    <td class="carrying_fee_2st hide"><%= bill.carrying_fee_2st %></td>

    <td class="carrying_fee_total hide">
      <%=bill.carrying_fee_total %>
    </td>
    <td class="carrying_fee_th_total hide">
      <%=bill.carrying_fee_th_total %>
    </td>
    <td class="k_carrying_fee_total hide">
      <%=bill.k_carrying_fee_total %>
    </td>
    <!--运费调整-->
    <td class="adjust_carrying_fee_plus hide"><%= bill.adjust_carrying_fee_plus %></td>
    <td class="adjust_carrying_fee_minus hide"><%= bill.adjust_carrying_fee_minus %></td>


    <!--代收货款-->
    <td class="goods_fee"><%=bill.goods_fee %></td>

    <!--保险费-->
    <td class="insured_fee hide">
      <%=bill.insured_fee %>
    </td>
    <td class="insured_fee_th hide">
      <%=bill.insured_fee_th %>
    </td>
    <td class="k_insured_fee hide">
      <%=bill.k_insured_fee %>
    </td>

    <!--管理费-->
    <td class="manage_fee hide"><%= bill.manage_fee %></td>
    <td class="manage_fee_th hide"><%= bill.manage_fee_th %></td>
    <td class="k_manage_fee hide"><%= bill.k_manage_fee %></td>


    <td class="transit_carrying_fee hide"><%=bill.transit_carrying_fee%></td>
    <td class="transit_hand_fee hide"><%=bill.transit_hand_fee%></td>
    <td class="agent_carrying_fee hide"><%=bill.agent_carrying_fee%></td>
    <td class="th_amount hide">
      <%=bill.th_amount %>
    </td>
    <td class="k_hand_fee hide"><%=bill.k_hand_fee%></td>
    <td class="act_pay_fee hide"><%= bill.act_pay_fee %></td>
    <td class='print_counter hide'><%= bill.print_counter %></td>
    <td class="note">
      <%= bill.note %>
    </td>
    <!--吨/方合计-->
    <td class='goods_weight hide'><%= bill.goods_weight %></td>
    <td class='goods_volume hide'><%= bill.goods_volume %></td>


    <td class="state"><%= bill.human_state_name %></td>
    <td class="from_short_fee_state hide"><%= bill.human_from_short_fee_state_name %></td>
    <td class="to_short_fee_state hide"><%= bill.human_to_short_fee_state_name %></td>
    <td class='stranded_days hide'><%=bill.stranded_days%>天</td>
    <td class='deliver_date hide'><%=bill.deliver_info.try(:deliver_date)%></td>
    <td class='pay_date hide'><%=bill.pay_info.try(:bill_date)%></td>
  </tr>
<% end %>
  </tbody>
  <tfoot>
    <tr>
      <td class='first'></td>
      <td class='bill_date'></td>
      <td class="bill_no"></td>
      <td class="goods_no"></td>
      <td class="from_org"></td>
      <td class="to_org"></td>
      <td class="from_customer"></td>
      <td class="from_customer_mobile hide"></td>
      <td class="to_customer"></td>
      <td class="to_customer_mobile hide">总计</td>
      <td class="pay_type"><%=sum_info[:sum_count]%>票</td>

      <td class="carrying_fee"><%=sum_info[:sum_carrying_fee]%></td>
      <td class="carrying_fee_th hide"><%=sum_info[:sum_carrying_fee_th]%></td>
      <td class="k_carrying_fee hide"><%=sum_info[:sum_k_carrying_fee]%></td>

      <!--运费调整-->
      <td class="adjust_carrying_fee_plus hide"><%= sum_info[:sum_adjust_carrying_fee_plus] %></td>
      <td class="adjust_carrying_fee_minus hide"><%= sum_info[:sum_adjust_carrying_fee_minus] %></td>


      <td class="from_short_carrying_fee hide"><%=sum_info[:sum_from_short_carrying_fee]%></td>
      <td class="from_short_carrying_fee_th hide"><%=sum_info[:sum_from_short_carrying_fee_th]%></td>
      <td class="k_from_short_carrying_fee hide"><%=sum_info[:sum_k_from_short_carrying_fee]%></td>
      <td class="to_short_carrying_fee hide"><%=sum_info[:sum_to_short_carrying_fee]%></td>
      <td class="to_short_carrying_fee_th hide"><%=sum_info[:sum_to_short_carrying_fee_th]%></td>
      <td class="k_to_short_carrying_fee hide"><%=sum_info[:sum_k_to_short_carrying_fee]%></td>
      <!--前段运费及后段运费-->
      <td class="carrying_fee_1st hide"><%= sum_info[:sum_carrying_fee_1st] %></td>
      <td class="carrying_fee_2st hide"><%= sum_info[:sum_carrying_fee_2st] %></td>

      <td class="carrying_fee_total hide"><%=sum_info[:sum_carrying_fee_total]%></td>
      <td class="carrying_fee_th_total hide"><%=sum_info[:sum_carrying_fee_th_total]%></td>
      <td class="k_carrying_fee_total hide"><%=sum_info[:sum_k_carrying_fee_total]%></td>



      <td class="goods_fee"><%=sum_info[:sum_goods_fee]%></td>

      <td class="insured_fee hide"><%=sum_info[:sum_insured_fee]%></td>
      <td class="insured_fee_th hide"><%=sum_info[:sum_insured_fee_th]%></td>
      <td class="k_insured_fee hide"><%=sum_info[:sum_k_insured_fee]%></td>
      <!--管理费-->
      <td class="manage_fee hide"><%= sum_info[:sum_manage_fee] %></td>
      <td class="manage_fee_th hide"><%= sum_info[:sum_manage_fee_th] %></td>
      <td class="k_manage_fee hide"><%= sum_info[:sum_k_manage_fee] %></td>
      <td class="transit_carrying_fee hide"><%=sum_info[:sum_transit_carrying_fee]%></td>
      <td class="transit_hand_fee hide"><%=sum_info[:sum_transit_hand_fee]%></td>
      <td class="agent_carrying_fee hide"><%=sum_info[:sum_agent_carrying_fee]%></td>
      <td class="th_amount hide"><%=sum_info[:sum_th_amount]%></td>
      <td class="k_hand_fee hide"><%=sum_info[:sum_k_hand_fee]%></td>
      <td class="act_pay_fee hide"><%= sum_info[:sum_act_pay_fee] %></td>
      <td class='print_counter hide'></td>
      <td class='note'></td>

      <!--吨/方合计-->
      <td class='goods_weight hide'><%= sum_info[:sum_goods_weight] %></td>
      <td class='goods_volume hide'><%= sum_info[:sum_goods_volume] %></td>

      <td class='state'></td>
      <td class='from_short_fee_state hide'></td>
      <td class='to_short_fee_state hide'></td>
      <td class='stranded_days hide'></td>
      <td class='deliver_date hide'></td>
      <td class='pay_date hide'></td>
    </tr>
  </tfoot>
</table>
