<%= semantic_form_for resource ,:remote=> true,:html => {:id => "carrying_bill_form",:class => "wat-cf carrying_bill"} do |f|%>
  <%=f.error_messages %>
  <%= f.inputs "票据基础信息"  do %>
    <%= f.hidden_field :user_id,:value => current_user.id if f.object.new_record?%>
    <%= f.input :original_bill_id,:as => :hidden%>
    <%= f.input :bill_date,:as => :string,:input_html =>{:readonly => true,:class => 'datepicker',:size => 10} %>
    <%= f.input :bill_no %>
    <%= f.input :goods_no %>
    <%= f.input :from_org_id,:as => :select,:collection => current_ability_orgs_for_select,:include_blank => false,:input_html => {:class => "select_org",:title => "可录入拼音简写查询发货地(例如:安阳,可录入ay)"} %>
    <%= f.input :transit_org_id,:as => :select,:collection => exclude_current_ability_orgs_for_select,:include_blank => false,:input_html => {:class => "select_org",:title => "中转机构,一般为总部"} %>

    <%= f.input :to_org_id,:as => :select,:collection => exclude_current_ability_orgs_for_select,:include_blank => false,:input_html => {:class => "select_org",:title => "可录入拼音简写查询到货地(例如:安阳,可录入ay)"} %>

    <%= f.input :to_area %>
  <%end%>

  <%= f.inputs "收货人/发货人信息"  do %>
    <%=f.input :customer_code,:input_html => { :id => "customer_code"}%>
    <%= f.input :from_customer_name,:input_html => {:id => "from_customer_name"} %>
    <%= f.input :from_customer_phone,:input_html => {:id => "from_customer_phone"} %>
    <%= f.input :to_customer_name %>
    <%= f.input :to_customer_phone %>
  <%end%>

  <%= f.inputs "运费及代收货款"  do %>
    <%= f.input :pay_type,:as => :select,:include_blank => false,:collection => CarryingBill.pay_types %>
    <%= f.input :carrying_fee ,:input_html => {:id => "carrying_fee"}%>
    <%= f.input :insured_amount ,:input_html => {:id => "insured_amount"}%>
    <%= f.input :insured_rate_disp,:input_html => {:id => "insured_rate",:readonly => true }%>
    <%= f.input :insured_fee,:input_html => {:readonly => true,:id => "insured_fee" } %>
    <%= f.input :from_short_carrying_fee,:input_html => {:id => "from_short_carrying_fee"} %>
    <%= f.input :to_short_carrying_fee,:input_html => {:id => "to_short_carrying_fee"}  %>
    <li>
      <label>合计运费</label>
      <p id='sum_carrying_fee'>0.0</p>
    </li>
    <%= f.input :goods_fee,:input_html => {:id => "goods_fee"} %>
    <li>
      <label>总计</label>
      <p id='sum_fee'>0.0</p>
    </li>
  <%end%>
  <%= f.inputs "货物信息"  do %>
    <%= f.input :goods_num %>
    <%= f.input :goods_info,:as => :string %>
    <%= f.input :note,:as => :string,:input_html => {:size => 100} %>
  <% end %>
<% end%>
<script type='text/javascript'>
  //在修改界面时,设置字段显示
  <%if !resource.new_record?%>
    jQuery(function($){$('#carrying_bill_form fieldset.inputs input,#carrying_bill_form fieldset.inputs select').attr('disabled',true);});
  <%end%>
  //如果只能更新运费
  <%if can?(:update_carrying_fee_20,resource) or can?(:update_carrying_fee_50,resource) or can?(:update_carrying_fee_100,resource) %>
    jQuery(function($){$('#carrying_fee').attr('disabled',false);});
  <%end%>
  //如果可以更新全部字段
  <%if can?(:update_all,resource) %>
    jQuery(function($){$('#carrying_bill_form fieldset.inputs input,#carrying_bill_form fieldset.inputs select').attr('disabled',false);});
  <%end%>

</script>
