<div class="block">
  <%= render "dynamic_toolbar" %>
  <div class="content">
    <h2 class="title">货物异常情况核销</h2>
    <div class="inner">
      <%= render "show" %>
      <div id='<%="#{resource_class.name.underscore}_form_wrap" %>' >
        <%= semantic_form_for resource ,:remote => true,:html => {:id => "goods_exception_form"} do |f|%>
          <%=f.error_messages %>
          <%=render :partial => 'form_with_authorize_info',:locals => { :f => f} %>
        <%end%>
      </div>
    </div>
  </div>
  <%= render "dynamic_toolbar" %>
</div>
