<div style='width : 600px;'>
  <h3 style='text-align : center;'><%= @message.title %></h3>
  <h4 style='text-align : center;'><%= @message.try(:doc_no) %></h4>
  <h4 style='text-align : center;'><%= @message.org_name %>&nbsp;&nbsp;<%= @message.publish_date.strftime("%Y-%m-%d %H:%M") %></h4>
  <hr/>
  <p>
    <%= @message.body.html_safe %>
  </p>
  <hr/>
  <p><span>附件</span>:<%= link_to @message.attach_file_name,"#{Settings.messages_host}/#{@message.attach_url}" if @message.attach_url.present?%>
</div>
