<%
    group_bills_by_from_org = @carrying_bills.group_by(&:from_org)
    group_bills_by_to_org = @carrying_bills.group_by(&:to_org)
    from_orgs = group_bills_by_from_org.keys
    to_orgs = group_bills_by_to_org.keys
%>
<div class="block">
  <%= render "dynamic_toolbar" %>
  <div class="content">
    <h2 class="title">始发地收货汇总表</h2>
    <div class="inner">
      <div class='actions-bar wat-cf'>
        <div class='actions'>
          <%= form_for @search,:url => {:action => :rpt_turnover_by_from_org} do |f|%>
            <%= f.text_field :bill_date_gte,:class => "datepicker", :readonly => true,:size => 10 %>
            ~
            <%= f.text_field :bill_date_lte,:class => "datepicker", :readonly => true,:size => 10 %>
            <%=hidden_field_tag "search[type_in][]",'ComputerBill'%>
            <%=hidden_field_tag "search[type_in][]",'AutoCalculateComputerBill'%>
            <%=hidden_field_tag "search[type_in][]",'HandBill'%>
            <%=hidden_field_tag "search[type_in][]",'ReturnBill'%>
            &nbsp;&nbsp;
            <%= f.submit "统计",:class => "sexybutton sexysimple sexyblue" %>
          <%end%>
        </div>
      </div>
      <div style='overflow-x : auto;width : 100%;'>
        <table class='table' id='rpt_turnover_by_from_org'>
          <thead>
            <tr>
              <td>到达地</td>
              <%from_orgs.each do |org|%>
                <th><%= org.name %></th>
              <%end%>
              <th>合计</th>
              <th>货物数量</th>
            </tr>
          </thead>
          <tbody>
            <%to_orgs.each do |to_org|%>
              <tr>
                <td><%=to_org.name%></td>
                <%from_orgs.each do |from_org|%>
                  <td>
                    <% current_to_org_fee = group_bills_by_from_org[from_org].find {|bill| bill.to_org_id == to_org.id} %>
                    <%=current_to_org_fee.present? ? current_to_org_fee.sum_carrying_fee : 0 %>
                  </td>
                <%end%>
                <td><%=group_bills_by_to_org[to_org].sum(&:sum_carrying_fee)%></td>
                <td><%=group_bills_by_to_org[to_org].sum(&:sum_goods_num)%></td>
              </tr>
            <%end%>
          </tbody>
          <tfoot>
            <tr>
              <td>合计</td>
              <%from_orgs.each do |org|%>
                <td><%=group_bills_by_from_org[org].sum(&:sum_carrying_fee)%></td>
              <%end%>
              <td><%=@carrying_bills.to_a.sum(&:sum_carrying_fee)%></td>
              <td><%=@carrying_bills.to_a.sum(&:sum_goods_num)%></td>
            </tr>
            <tr>
              <td>货物数量</td>
              <%from_orgs.each do |org|%>
                <td><%=group_bills_by_from_org[org].sum(&:sum_goods_num)%></td>
              <%end%>
              <td>N/A</td>
              <td>N/A</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div id='table_wrap'>
      </div>
    </div>
  </div>
  <%= render "dynamic_toolbar" %>
</div>
