<table class='table'>
  <thead>
    <tr>
      <th>到货地:</th>
      <th><%= @notice.org%></th>
      <th>清单日期:</th>
      <th><%= @notice.bill_date %></th>

      <th>状态:</th>
      <th><%= @notice.state_desc %></th>
      <th>关联到货清单:</th>
      <th> <%= link_to @notice.load_list.try(:bill_no), @notice.load_list %></th>
    </tr>
    <tr>
      <th>备注:</th>
      <th colspan='7'><%= @notice.note %></th>
    </tr>
  </thead>
</table>
<table class='table'>
  <thead>
    <tr>
      <th class='text-center'>序号</th>
      <th class='text-center'>票号</th>
      <th class='text-center'>货号</th>
      <th class='text-center'>通知电话</th>
      <th class='text-center'>通知文本</th>
      <th class='text-center'>呼叫次数</th>
      <th class='text-center'>短信文本</th>
      <th class='text-center'>发送次数</th>
      <th class='text-center'>通知状态</th>
      <th class='text-center'>短信状态</th>
    </tr>
  </thead>
  <tbody>
    <% @notice.notice_lines.each_with_index do |line,index| %>
      <tr class='<%= "notice_#{line.calling_state}"%>'>
        <td><%= index + 1 %></td>
        <td><%= link_to line.carrying_bill.bill_no,polymorphic_url(line.carrying_bill,:format => :js),:class => :fancybox%></td>
        <td><%= link_to line.carrying_bill.goods_no,polymorphic_url(line.carrying_bill,:format => :js),:class => :fancybox%></td>
        <td style='font-weight : bold;font-size : 14px;'><%= line.from_customer_phone %></td>
        <td><%= line.calling_text %></td>
        <td><%= line.calling_count %></td>
        <td><%= line.sms_text %></td>
        <td><%= line.sms_count %></td>
        <td><%= line.calling_state_desc %></td>
        <td><%= line.sms_state_desc %></td>
      </tr>
    <%end%>
  </tbody>
</table>
