<!--动态toolbar-->
<div class="secondary-navigation">
  <ul class="wat-cf">
    <%if can? :read,resource_class%>
      <li class="first">
        <%= link_to image_tag("grid.png",:alt => "#{resource_class.model_name.human}列表") , collection_path("search[is_active_eq]" => 1 ),:title => "#{resource_class.model_name.human}列表",:class => "tipsy"  %>
      </li>
      <li class="first">
        <%= link_to image_tag("grid-snap.png",:alt => "#{resource_class.model_name.human}列表") , collection_path,:title => "#{resource_class.model_name.human}列表",:class => "tipsy"  %>
      </li>

    <%end%>
    <%if can? :create,Branch%>
      <li>
        <%= link_to image_tag("bank--plus.png",:alt => "新建分理处/分公司"), new_branch_path(:format => :js),:title => "新建分理处/分公司",:class => "tipsy fancybox"  %>
      </li>
    <%end%>
    <%if can? :create,Department%>
      <li>
        <%= link_to image_tag("chair--plus.png",:alt => "新建科室"), new_department_path(:format => :js),:title => "新建科室",:class => "tipsy fancybox"  %>
      </li>
    <%end%>
    <!--
    <%if can? :edit,Org %>
      <li>
        <%= link_to image_tag("application--pencil.png",:alt => "修改#{resource_class.model_name.human}"), "#",:title => "修改#{resource_class.model_name.human}",:class => "tipsy btn_edit fancybox"  %>
      </li>
    <%end%>

    <%if can? :destroy,Org%>
      <li>
        <%= link_to image_tag("cross.png",:alt => "删除该记录"), '#',:method => :delete,:class =>"tipsy btn_delete",:title => "删除该记录",:confirm => "你确定要删除吗?" %>
      </li>
    <%end%>
    -->
  </ul>
</div>
