<!--此处是个递归-->
<tr>
  <td colspan='10'>
    <%if user_org.object.org.parent_id.present?%>
      &nbsp;&nbsp;
    <%end%>
    <%=user_org.hidden_field :org_id %>
    <%=label_tag "select_org_#{user_org.object.org.id}",user_org.object.org.name%>
    <%=user_org.check_box :is_select,:id => "select_org_#{user_org.object.org.id}"%>
  </td>
</tr>
<%=f.semantic_fields_for :user_orgs,resource.all_user_orgs!.select {|the_user_org| the_user_org.org.parent_id == user_org.object.org.id} do |child_user_org|%>
  <%= render "user_org_recursive",:user_org => child_user_org,:f => f %>
<%end%>
