<div class="block">
  <div class="content">
    <h2 class="title">修改密码</h2>
    <div class="inner">
      <div id='registration_form_wrap'>
        <%= semantic_form_for current_user,:url => update_password_users_path do |f| %>
          <%= f.error_messages %>
          <%= f.inputs do  %>
            <%= f.input :current_password,:as => :password %>
            <%= f.input :password,:as => :password %>
            <%= f.input :password_confirmation,:as => :password %>
          <% end%>
          <%= f.actions do %>
            <%= f.action :submit,:label => "更新密码",:button_html => { :class => "sexybutton sexysimple sexyblue",:disable_with => '正在更新...' } %>
          <% end%>
        <% end %>
      </div>
    </div>
  </div>
</div>
