<table class="table">
  <tr>
    <th>名称</th>
    <td colspan="3"><%= resource.name %></td>
  </tr>

  <tr>
    <th>所在地</th>
    <td colspan="3"><%= resource.location %></td>
  </tr>
  <tr>
    <th>地址</th>
    <td colspan="3"><%= resource.address %></td>
  </tr>
  <tr>
    <th>负责人</th>
    <td><%= resource.leader %></td>
    <th>联系电话</th>
    <td><%= resource.phone%></td>
  </tr>
  <tr>
    <th>运价说明</th>
    <td colspan="3"><%= resource.note %></td>
  </tr>
</table>
