<%= semantic_form_for resource ,:remote => true,:html => {:id => "#{resource_class.name.underscore}_form",:style => "width : 400px;" } do |f|%>
  <%=f.error_messages %>
  <%= f.inputs do %>
    <%=f.input :parent_id,:as => :select,:collection => parent_goods_cats_for_select %>
  <%end%>
  <%= f.inputs :name,:bottom_price,:default_price,:order_by,:easy_code,:note,:is_active %>

  <table class='table'>
    <thead>
      <tr>
        <th>运费范围</th>
        <th>优惠比例</th>
      </tr>
    </thead>
    <%= f.semantic_fields_for :goods_cat_promotions do |gcp| %>
      <tr>
        <td>
          <%= gcp.text_field :from_fee,:size => 10,:max_length => 10 %> ~
          <%= gcp.text_field :to_fee,:size => 10,:max_length => 10 %>
        </td>
        <td><%= gcp.text_field :promotion_rate,:size => 10,:max_length => 10 %></td>
      </tr>
    <%end%>
  </table>
  <%=f.actions do%>
    <%= f.action :submit,:label => :submit,:button_html => { :class => "sexybutton sexysimple sexyblue",:disable_with => '正在保存...' } %>
  <%end%>
<% end%>
