<table>
  <tr>
    <td colspan='10' style='text-align : center;font-size : 14px;'>
      (<%="#{resource.org.name}|#{resource.bill_date}"%>)客户提款结算清单
    </td>
  </tr>
  <tr>
    <td style='border : thin solid #000;'>结算员:</td>
    <td style='border : thin solid #000;'><%=resource.user%></td>
    <td style='border : thin solid #000;'>结算单位:</td>
    <td style='border : thin solid #000;'><%= resource.org.name %></td>
    <td style='border : thin solid #000;' colspan="5">结算日期:</td>
    <td style='border : thin solid #000;'> <%=resource.bill_date.strftime('%Y-%m-%d')%></td>
  </tr>
  <tr>
    <td style='border : thin solid #000;' colspan="9" class='text-right'>实领金额:</td>
    <td style='border : thin solid #000;'><%=resource.amount_fee %></td>
  </tr>
  <tr>
    <td style='border : thin solid #000;'>原货款:</td>
    <td style='border : thin solid #000;'><%=resource.sum_goods_fee %></td>
    <td style='border : thin solid #000;'>货款扣运费:</td>
    <td style='border : thin solid #000;'><%=resource.sum_k_carrying_fee%></td>
    <td style='border : thin solid #000;'>扣手续费:</td>
    <td style='border : thin solid #000;'><%=resource.sum_k_hand_fee %></td>
    <td style='border : thin solid #000;'>中转手续费:</td>
    <td style='border : thin solid #000;'><%=resource.sum_transit_hand_fee %></td>
    <td style='border : thin solid #000;'>实际提款:</td>
    <td style='border : thin solid #000;'><%=resource.sum_act_pay_fee %></td>
  </tr>
  <tr>
    <td style='border : thin solid #000;' colspan="9" class='text-right'>余额:</td>
    <td style='border : thin solid #000;'><%=resource.sum_rest_fee %></td>
  </tr>
  <tr>
    <td style='border : thin solid #000;'>备注</td>
    <td colspan='9'>
      <%=resource.note %>
    </td>
  </tr>
  <thead>
    <tr>
      <td style='border : thin solid #000;'>序号</td>
      <td style='border : thin solid #000;'>运单号</td>
      <td style='border : thin solid #000;'>货号</td>
      <td style='border : thin solid #000;'>发货人</td>
      <td style='border : thin solid #000;'>代收货款</td>
      <td style='border : thin solid #000;'>扣运费</td>
      <td style='border : thin solid #000;'>扣手续费</td>
      <td style='border : thin solid #000;'>扣中转手续费</td>
      <td style='border : thin solid #000;'>实提货款</td>
      <td style='border : thin solid #000;'>运费支付方式</td>
      <td style='border : thin solid #000;'>备注</td>
    </tr>
  </thead>
  <tbody>
    <%resource.carrying_bills.each_with_index do |bill,index|%>
      <tr>
        <td style='border : thin solid #000;'><%= index + 1 %></td>
        <td style='border : thin solid #000;'>&nbsp;<%= bill.bill_no %></td>
        <td style='border : thin solid #000;'><%= bill.goods_no %></td>
        <td style='border : thin solid #000;'><%= bill.from_customer_name %></td>
        <td style='border : thin solid #000;'><%= bill.goods_fee%></td>
        <td style='border : thin solid #000;'><%= bill.k_carrying_fee%></td>
        <td style='border : thin solid #000;'><%= bill.k_hand_fee%></td>
        <td style='border : thin solid #000;'><%= bill.transit_hand_fee%></td>
        <td style='border : thin solid #000;'><%= bill.act_pay_fee%></td>
        <td style='border : thin solid #000;'><%= bill.pay_type_des%></td>
        <td style='border : thin solid #000;'><%= bill.note %></td>
      </tr>
    <%end%>
  </tbody>
  <tfoot>
    <tr>
      <td colspan='4' style='text-align : right;border : thin solid #000;'>合计</td>
      <td style='border : thin solid #000;'><%=resource.sum_goods_fee%></td>
      <td style='border : thin solid #000;'><%=resource.sum_k_carrying_fee%></td>
      <td style='border : thin solid #000;'><%=resource.sum_k_hand_fee%></td>
      <td style='border : thin solid #000;'><%=resource.sum_transit_hand_fee%></td>
      <td style='border : thin solid #000;'><%=resource.sum_act_pay_fee%></td>
      <td style='border : thin solid #000;'></td>
      <td style='border : thin solid #000;'></td>
    </tr>
  </tfoot>
</table>
