<div class="block">
  <%= render "dynamic_toolbar" %>
  <div class="content">
    <h2 class="title">新建 <%= resource_name %></h2>
    <div class="inner">
      <div id='<%="#{resource_class.name.underscore}_form_wrap" %>' >
        <%= render 'form' %>
        <%= yield :form %>
      </div>

      <div id='<%="#{resource_class.name.underscore}_form_after_wrap" %>' >
        <%= render 'form_after' %>
        <%= yield :form_after %>
      </div>
    </div>
  </div>
  <%= render "dynamic_toolbar" %>
</div>
