<table class='table' data-detailUrl='<%=payment_list_carrying_bills_path(resource,show_or_hidden_fields) %>'>
  <tr>
    <td>清单日期:</td>
    <td><%=resource.bill_date.strftime('%Y-%m-%d')%></td>
    <td>组织机构:</td>
    <td><%=resource.org.name%></td>
    <td>操作员:</td>
    <td><%=resource.user%></td>
    <td>状态:</td>
    <td><%=resource.human_state_name%></td>
  </tr>
  <tr>
    <td>备注:</td>
    <td colspan='10'>
      <%= resource.note %>
    </td>
  </tr>
</table>
<div id="table_wrap"></div>
